.contact-cont {
  padding: 200px 0 200px 0;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: hsl(357, 87%, 79%);
  text-align: center;
  .contact-btn a {
    visibility: visible;
    display: inline-block;
    background-color: cl(#000000);
    padding: 10px 20px;
    border-radius: 15px;
    color: cl(white);
    font-weight: bold;
    box-shadow: none;
    &:hover {
      background-color: cl(white);
      color: cl(black);
      transition: 1s;
    }
  }
  h2 {
    font-size: 20px;
    @include overTab {
      font-size: 35px;
    }
    @include pcoverTab {
      font-size: 50px;
    }
  }
  p {
    padding: 30px 0 80px 0;
  }
}
